{% extends "layout-horizontal.html" %}
{% block keywords %}JayleenWang 上山畈{% endblock %}
{% block description %}JayleenWang 上山畈{% endblock %}
{% block title %}
    {% if currentAlbum %}
        {{currentAlbum.title}}
    {% else %}
        未分类相册
    {% endif %}
{% endblock %}
{% block body %}
<style>
    .ss-album-frame {
        height: 100%;
    }
    .ss-album-frame .ss-album-info{
        padding: 5px;
        margin-left: 75px;
    }
    .ss-album-frame img{
        float: left;
        width: 75px;
        height: 75px;
    }
    .ss-album-frame .ss-album-info h6{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }


    .ss-picture-card .ss-picture-img{
        height: 220px;
        background-position: 50% 50%;
        background-repeat: no-repeat ;
        background-size: cover;
    }
</style>
<h3 class="ss-article-title">
    {% if currentAlbum %}
        {{currentAlbum.title}}
    {% else %}
        未分类相册
    {% endif %}
</h3>
<div class="clearfix">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pictureBelong">移动到相册</button>
    {% if currentAlbum %}
    <button type="button" class="btn btn-info" id="pictureCoverBtn">设为封面</button>
    {% endif %}
    <button type="button" class="btn btn-danger">删除</button>
</div>
<div class="show-grid ss-article-body mt-3">
    <div class="row">
        {% for picture in pictures %}
        <div class="col-sm-4 ss-picture-col-{{picture.id}} mb-3">
            <div class="card ss-picture-card" data-big-picture="{{picture.fullLink}}" data-picture="{{picture.id}}">
              <div class="ss-picture-img" style="background-image: url({{picture.tinyLink}})" title="{{picture.remark}}">
              </div>
              <div class="card-footer">
                  <small class="text-muted">
                      <input class="ss-picture-checkbox mr-1" data-picture="{{picture.id}}" data-album="{% if currentAlbum %}{{currentAlbum.id}}{% endif %}" type="checkbox">
                      {{picture.uploadDate}}
                  </small>
              </div>
            </div>
         </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="pictureBelong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        {% for album in albums %}
          <div class="col-sm-4 mb-3" >
              <div class="ss-album-frame border" data-album="{{album.id}}">
                  <img src="{% if album.cover %}{{album.cover}}{% else %}/static/image/no-pic.jpeg{% endif %}" alt="{{album.title}}" />
                  <div class="ss-album-info">
                      <h6>{{album.title}}</h6>
                  </div>
              </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="albumModalClose"data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="pictureMoveBtn">移动</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block sub_script %}
<script>
    // for album selector
    (function ($) {
        // SECTION 1: MODEL
        // invoke album selector
        var $albumSelector_allAlbum = $('.ss-album-frame');
        $albumSelector_allAlbum.on('click', function () {
            $albumSelector_allAlbum.removeClass('border-info');
            $(this).addClass('border-info');
        })

        // move picture
        var $albumSelector_moveBtn = $('#pictureMoveBtn')
        $albumSelector_moveBtn.on('click', function () {
            var pictureArr = []
            $('.ss-picture-checkbox:checked').each(function () {
                return pictureArr.push($(this).data('picture'))
            });

            var albumId = $('.ss-album-frame.border-info').data('album')
            $.ajax({
                url: '/shangshanfan/picture/migrate',
                type: 'post',
                data: {
                   albumId: albumId,
                   pictureList: pictureArr.join()
                },
                success: function (res) {

                    // remove selected picture
                    pictureArr.forEach(function (pictureId) {
                        $('.ss-picture-col-' + pictureId).remove()
                    })

                    // close model
                    $('#albumModalClose').click()
                }
            })
        })

        // SECTION 2: SET COVER
        var $setCoverBtn = $('#pictureCoverBtn');
        $setCoverBtn.on('click', function () {
            var $firstCheckBox = $(".ss-picture-checkbox:checked:first")
            var pictureId = $firstCheckBox.data('picture');
            var albumId = $firstCheckBox.data('album');
            $.ajax({
                url: '/shangshanfan/album/setCover/' + (albumId || 0) + "/" + pictureId,
                type: 'get',
                success: function (res) {
                    console.log(13, res)
                }
            })
        })



    })(window.jQuery)

</script>
{% endblock %}