{% extends "layout-horizontal.html" %}
{% block title %}新建博文{% endblock %}
{% block body %}
<style>
    .ss-editor-frame{
        border: 1px solid #ced4da;
    }
    .ss-article-post-cover {
        width: 200px;
    }
</style>
<h3 class="ss-article-title">新建博文</h3>
<div class="ss-article-body">
    <form action="/shangshanfan/article/post" method="post" id="articleForm" onsubmit="return false">
      <div class="form-group">
        <label for="title">标题</label>
        <input type="text" class="form-control" id="title" value="{{article.title}}" name='title' placeholder="Example input">
        <input type="hidden" class="form-control" id="articleId" value="{{article.id}}" name='articleId' placeholder="Example input">
      </div>
      <div id="imgUploader"></div>
      <div class="form-group">
        <label for="cover">封面</label>
        <input type="hidden" class="form-control" id="cover" value="{{article.cover}}" name='cover' placeholder="Example input">
        {% if article.cover %}
          <img class="ss-article-post-cover form-control" src="{{article.cover}}" alt="article.remark" id="articleCover"/>
        {% else %}
          <img class="ss-article-post-cover form-control" src="/" alt="article.remark" id="articleCover"/>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="tagId">分类</label>
        <select id="tagId" name='tagId' class="form-control">
            {% for tag in tags %}
            {% if article.tagId == tag.id %}
                <option selected value="{{tag.id}}">{{tag.title}}</option>
            {% else %}
                <option value="{{tag.id}}">{{tag.title}}</option>
            {% endif %}
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <div class="form-check">
            {% if article.privacy %}
                <input class="form-check-input" type="checkbox" id="privacyCheckbox" checked>
            {% else %}
                <input class="form-check-input" type="checkbox" id="privacyCheckbox">
            {% endif %}
          <label class="form-check-label" for="privacyCheckbox">
            公开
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="ss-editor-frame">
            <div id="div1" class="toolbar"></div>
            <div style="padding: 5px 0; color: #ccc"></div>
            <div id="div2" class="text" style="min-height: 200px"> <!--可使用 min-height 实现编辑区域自动增加高度-->
                <p></p>
            </div>
        </div>
      </div>

      <button type="submit" id="submitArticle" class="btn btn-primary">保存</button>
    </form>

</div>
{% endblock %}
{% block sub_script %}
<script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="{{ url_for('static', filename='js/uploader.js') }}"></script>
<script>
    var page_editor;
    (function ($) {
        // submit article
        var $subButton = $('#submitArticle');
        var $articleId = $('#articleId');
        var $articleForm = $('#articleForm');
        var $checkbox = $('#privacyCheckbox');

        $subButton.on('click',function () {
            $.ajax({
                url: '/shangshanfan/article/post',
                type: 'post',
                data: $articleForm.serialize() +
                    '&privacy=' + Number($checkbox[0].checked) +
                    '&content=' + encodeURIComponent(page_editor.txt.html()) +
                    '&summary=' + encodeURIComponent(page_editor.txt.text().slice(0, 100)),
                dataType : "json",
                success: function (res) {
                    if (res.success) {
                        // return $articleId.val(res.data.articleId)
                        window.location.href = '/shangshanfan/article/detail/' + res.data.articleId
                    }
                }
            });
        })

    })(window.jQuery)
</script>
<script>
    (function ($) {
        var E = window.wangEditor;
        page_editor = new E('#div1', '#div2');
        page_editor.customConfig.uploadImgServer = '/shangshanfan/picture/uploadImage';
        page_editor.customConfig.showLinkImg = false;
        page_editor.customConfig.uploadFileName = 'image'
        page_editor.create();
        page_editor.txt.html('{{article.content |safe}}');
    })(window.jQuery)
</script>
<script>
    (function ($) {
        // 实例化上传组件
        var $imgCover = $('#articleCover');
        var $imgUploader = $('#imgUploader');
        var $imgCoverInput = $('#cover')

        $imgUploader.imgUploader({
            onSuccess: function (res) {
                var imgUrl = res.data[0];
                $imgCover[0].src = imgUrl;
                $imgCoverInput.val(imgUrl);
                $imgUploader.imgUploader('close');
            },
            onError: function () {
                $imgUploader.imgUploader('clear');
            }
        });

        // 呼出组件
        $imgCover.on('click', function () {
            $imgUploader.imgUploader('open');
        })
    })(window.jQuery)
</script>
{% endblock %}