{% extends "layout-horizontal.html" %}
{% block keywords %}JayleenWang 上山畈{% endblock %}
{% block description %}JayleenWang 上山畈{% endblock %}
{% block title %}JayleenWang 上山畈 相册{% endblock %}
{% block body %}
<style>
.ss-gallery-nav-tabs a {
    color: #3f3f3f;
}
.ss-gallery-nav-tabs a.nav-link.active {
    background-color: #fafafa;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #ff649a;
}
</style>
<h3 class="ss-article-title">相册走廊</h3>
<div class=" show-grid ss-article-body">
  <ul class="nav nav-tabs ss-gallery-nav-tabs" id="tagsJsonUl" role="tablist" data-tags="{{tagsData}}">
    {% for tag in tagArr %}
        <li class="nav-item">
            <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="tab" href="#tag{{tag.id}}">{{tag.title}}</a>
        </li>
    {% endfor %}
  </ul>
  <br/>
  <div id="imgUploader" title="img uploader dom"></div>
  <div id="albumCreate" title="album create dom"></div>
  <div class="clearfix">
      <button type="button" id="galleryUploadBtn" class="btn btn-primary">上传图片</button>
      <button type="button" id="galleryCreateBtn" class="btn btn-success">新建相册</button>
      <button type="button" id="galleryUnSortBtn" class="btn btn-info">查看未分类相册</button>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    {% for tagObj in tagArr %}
    <div id="tag{{tagObj.id}}" class="tab-pane {% if loop.first %}active{% endif %}"><br>
        <div class="row">
            <!--请在第一个位置流出未关联相册的图片-->
            {% for album in tagObj.albums %}
            <div class="col-sm-3 mb-3">
                <div class="card album-card" data-album="{{album.id}}">
                  <img class="card-img-top" src="{% if album.cover %}{{album.cover}}{% else %}/static/image/no-pic.jpeg{% endif %}" alt="{{album.title}}">
                  <div class="card-body">
                    <p class="card-text">{{album.title}}</p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block sub_script %}
<script src="{{ url_for('static', filename='js/uploader.js') }}"></script>
<script src="{{ url_for('static', filename='js/albumCreator.js') }}"></script>
<script>
    (function ($) {
        // dom alias
        var $galleryUploadBtn = $('#galleryUploadBtn');
        var $galleryCreateBtn = $('#galleryCreateBtn');
        var $galleryUnSortBtn = $('#galleryUnSortBtn')
        var $imgUploaderDom = $('#imgUploader');

        // initialize event binding
        $imgUploaderDom.imgUploader({
            multiple: true,
            onSuccess: function (res) {
                //上传成功，请到对应相册中管理
            },
            onError: function () {
                $imgUploaderDom.imgUploader('clear');
            }
        });

        // Event-binding: invoke upload plugin
        $galleryUploadBtn.on('click', function () {
            $imgUploaderDom.imgUploader('open')
        });


        // initialize album creation plugin
        var $albumCreateDom = $('#albumCreate');
        var allTags = $('#tagsJsonUl').data('tags');
        $albumCreateDom.albumCreator({
            tagArr: allTags,
            onConfirm: function (params) {
                $.ajax({
                    url: '/shangshanfan/album/create',
                    type: 'post',
                    data: params,
                    dataType : "json",
                    success: function (res) {
                        if (res.success) {
                            $albumCreateDom.albumCreator('close')
                            // todo add the new Album
                        }
                    }
                });
            }
        })

        // Event-binding: invoke album creator open
        $galleryCreateBtn.on('click', function () {
            $albumCreateDom.albumCreator('open')
        });


        // Event-binding: link
        $('.album-card').on('click', function () {
            var albumId = $(this).data('album');
            window.location.href = '/shangshanfan/album/query/' + albumId;
        })

        $galleryUnSortBtn.on('click', function () {
            window.location.href = '/shangshanfan/album/query/0';
        })
    })(window.jQuery)
</script>
{% endblock %}