<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{% block keywords %}上山畈 铜梁 Jayleen{% endblock %}">
    <meta name="description" content="{% block description %}上山畈 铜梁 Jayleen{% endblock %}">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.png') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
    <div class="ss-container">
        <div class="ss-top-banner">
            <div class="ss-center">

            </div>
        </div>
        <div class="ss-top-menu">
            <div class="ss-center row">
                <div class="col-sm-5">
                    <san class="ss-logo-set">
                        <img class="ss-top-logo" src="/static/image/logo.png" alt="">
                        <span>JayleenWang</span>
                    </san>
                </div>
                <div class="col-sm-7">
                    <ul class="nav justify-content-end ss-top-nav">
                        <li class="nav-item">
                            <a class="nav-link" title="Jayleen 上山畈首页" href="/shangshanfan/index">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Jayleen 上山畈首页" href="/shangshanfan/article/dashboard">目的地</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Jayleen 上山畈首页" href="/shangshanfan/album/dashboard">相册</a>
                        </li>
                        <li class="dropdown show">
                          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tim
                          </a>
                          {% if loginUser %}
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">个人中心</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">登出</a>
                          </div>
                          {% else %}
                          <div class="dropdown-menu dropdown-menu-right ss-login-dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <form class="px-3 py-3">
                                <div class="form-group">
                                  <label for="login_username">用户名</label>
                                  <input type="username" class="form-control form-control-sm" id="login_username" placeholder="请输入用户名">
                                </div>
                                <div class="form-group">
                                  <label for="login_password">密码</label>
                                  <input type="password" class="form-control form-control-sm" id="login_password" placeholder="请输入密码">
                                </div>
                                  <!--<div class="dropdown-divider"></div>-->
                                <button type="submit" class="btn btn-primary btn-sm">登 入</button>
                                <button type="submit" class="btn btn-sm btn-outline-info">注 册</button>

                              </form>
                            </div>
                          {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="ss-body ss-center container">
            <div class="ss-nav-block">
                <nav aria-label="breadcrumb" class="ss-nav">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a title="Jayleen 上山畈首页" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                  </ol>
                </nav>
            </div>
            <div class="ss-custom-body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <div class="ss-bottom-menu">
            <div class="ss-center">
                <!--<ul class="ss-menu-set">-->
                    <!--<li><a href="/shangshanfan/index">首页</a></li>-->
                    <!--<li><a title="Jayleen 上山畈首页" href="/shangshanfan/article/dashboard">目的地</a></li>-->
                    <!--<li><a title="Jayleen 上山畈首页" href="/shangshanfan/album/dashboard">相册</a></li>-->
                    <!--<li><a title="Jayleen 上山畈首页" href="/shangshanfan/about">关于我们</a></li>-->
                    <!--<li><a title="Jayleen 上山畈首页" href="/shangshanfan/contract">联系我们</a></li>-->
                <!--</ul>-->
                <!--<hr />-->
                <div class="ss-bottom-about row">
                    <div class="col-sm-6">
                        <span class="ss-bottom-contact ">
                            备案号：蜀ICP备18011695号
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <span class="ss-bottom-copyright">
                            &copy;2018 Jayleen.Wang power by Bootstrap 4.0
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.1.0/jquery.form.min.js"></script>
    {% block sub_script %}{% endblock %}
</body>
</html>