<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{% block keywords %}上山畈 铜梁 Jayleen{% endblock %}">
    <meta name="description" content="{% block description %}上山畈 铜梁 Jayleen{% endblock %}">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    {% from './macro/breads.html' import rend_breads %}
    <div class="ss-container">
        {% include './module/top_banner.html' %}
        {% include './module/header.html' %}
        {% block carrsousel %}{% endblock %}
        <div class="ss-body ss-center container">
            {{ rend_breads(breads) }}
            <div class="ss-custom-body">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        {% include './module/footer.html' %}
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.1.0/jquery.form.min.js"></script>
    <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        toastr.options.positionClass='toast-top-center';
        toastr.options.hideDuration= 500;
        toastr.options.showDuration= 300;
    </script>
    {% block sub_script %}{% endblock %}
</body>
</html>