{% extends "layout-horizontal.html" %}
{% block keywords %}JayleenWang 上山畈{% endblock %}
{% block description %}JayleenWang 上山畈{% endblock %}
{% block title %}JayleenWang 用户注册{% endblock %}
{% block body %}
<style>

</style>
<h3 class="ss-article-title text-center">用户注册</h3>
<div class="row show-grid ss-article-body justify-content-center">
    <div class="col-sm-8 ">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{error.message}}
        </div>
        {% endif %}
        {% macro inputItem(name, label='', type='text', id='', value='') %}
        <div class="form-group row">
            <label for="{{name}}" class="col-sm-2 col-form-label">{{label}}</label>
            <div class="col-sm-10">
              <input
                      class="form-control"
                      type="{{type}}"
                      id="{{id}}"
                      name="{{name}}"
                      value="{{value}}"
                      placeholder="请输入{{label}}"
                      required />
            </div>
        </div>
        {% endmacro %}
        <form class="needs-validation" action="/shangshanfan/author/register" method="post" novalidate>
            {{ inputItem('username', label='用户名', type='text', id='username', value=username) }}
            {{ inputItem('password', label='密码', type='password', id='password', value=password) }}
            {{ inputItem('repeatPassword', label='重复密码', type='password', id='repeatPassword', value=repeatPassword) }}
            {{ inputItem('nickname', label='昵称', type='text', id='nickname', value=nickname) }}
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}
{% block sub_script %}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}