{% extends "layout-horizontal.html" %}
{% block keywords %}{{article.title|safe}}{% endblock %}
{% block description %}{{article.title|safe}}{% endblock %}
{% block title %}{{article.title}}{% endblock %}
{% block body %}
<style>
    .ss-article-body .card-body {
        padding: 30px;
    }
    .ss-article-body .card-body+.card-body {
        padding-top: 0;
    }
    .ss-article-body .card-body .card-title {
        margin-bottom: 1.25rem;
    }
    .ss-article-body .ss-article-side-ul {
        margin-bottom: 0;
        padding-left: 20px;
        list-style: circle;
    }
    .ss-article-body .ss-article-side-ul li {
        color: #ff417f;
    }
    .ss-article-body .ss-article-side-ul li p{
        margin-bottom: 0;
        line-height: 34px;
    }
    .ss-article-body .ss-article-side-ul li p a{
        color: #17a2b8;
    }
    .ss-article-body .ss-card-content img{
        width: 100%;
    }
</style>
<h3 class="ss-article-title">{{ article.title }}</h3>
<div class="row show-grid ss-article-body">
    <div class="col-sm-8" style="margin-bottom: 30px">
        <div class="card">
            <div class="card-body" style="overflow: hidden">
                <img class="card-img-top" src="{{ article.cover }}" alt="{{article.title}}">
            </div>
            <div class="card-body ss-card-content">
                <p class="card-text">
                    {{ article.content |safe}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row mb-3">
            <div class="col-sm-6">
                <button class="btn btn-outline-success w-100">编辑文章</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-outline-primary w-100">新建文章</button>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">游记分类</h5>
                <ul class="ss-article-side-ul">
                    {% for tag in tags %}
                    <li><p><a title="{{tag.title}}" href="/shangshanfan/article/list/{{tag.id}}/1">{{tag.title}}</a></p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">近期发表</h5>
                <ul class="list-group list-group-flush">
                    {% for newArticle in recentArticle %}
                        <li class="list-group-item" style="padding: 25px 20px 25px 0">
                            <h6 style="color: #17a2b8;">{{newArticle.title}}</h6>
                            <p class="card-text" style="font-size: 14px;color: #8e8e8e">
                                {{newArticle.summary}}
                            </p>
                            <small>
                                <strong style="color: #8a8a8a">{{newArticle.createDate}}</strong>
                            </small>
                        </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}