body, html{
    background-color: #fafafa;
}
/*
pink #ff649a
grey #ff417f
purple #573b9b
font-grey #8a8a8a
*/
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

/* public class */
.ss-center {
    max-width: 1150px;
    margin: 0 auto!important;
}

.ss-body {
    margin-top: 30px;
    margin-bottom: 30px;
    /*min-height: 550px;*/
}

.ss-bottom-menu{
    background-color: #17a2b8
}


.ss-top-logo{
    width: 75px;
}


.ss-bottom-menu {
    padding: 10px 0;
}
.ss-bottom-menu hr{
    height: 1px;
    border: none;
    margin: 0;
    background-color: #8566bc;
}

.ss-bottom-menu .ss-bottom-about{
    margin: 0;
    color: white;
    font-size: 12px;
    line-height: 110px;
}

/* nav */
.ss-nav .breadcrumb{
    margin-bottom: 10px;
    padding-left: 0;
    background-color: #fafafa;
}
.ss-nav .breadcrumb-item+.breadcrumb-item::before {
    content: '→';
}
.ss-nav .breadcrumb .breadcrumb-item,
.ss-nav .breadcrumb .breadcrumb-item a {
    color: #ff417f;
    font-size: 14px;
}

/* ss-body */
.ss-article-title {
    margin-top: 40px;
}

/* plugin uploader */
.ss-uploader-frame{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
    background-color: rgba(50, 50, 50, 0.5);
}

.ss-uploader-frame .ss-uploader-modal {
    display: block;
}

/* plugin album detail */
.ss-albumDetail-frame {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
    background-color: rgba(50, 50, 50, 0.5);
}

.ss-albumDetail-frame .ss-albumDetail-modal {
    display: block;
}

@media (max-width: 1100px) {
    .ss-menu-set li{
        padding: 0 10px;
    }
}


/* Responsive breakpoints */
@media (max-width: 570px) {
    .ss-menu-set {
        text-align: center;
    }
    .ss-menu-set li{
        padding: 0 5px;
    }

    .ss-top-menu {
        height: auto;
        text-align: center;
    }
    .ss-top-menu .nav {
        padding-top: 0;
        justify-content: center!important;
    }
    .ss-bottom-menu .ss-bottom-about{
        text-align: center;
        line-height: 30px;
    }

}