body, html{
    background-color: #fafafa;
}
/*
pink #ff649a
grey #ff417f
purple #573b9b
font-grey #8a8a8a
*/
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

/* public class */
.ss-center {
    max-width: 1150px;
    margin: 0 auto;
}

/* frame class */
.ss-top-banner {
    height: 40px;
    background-color: #4d32a3;
}

.ss-top-menu {
    height: 110px;
    background-color: #653fb3;
}

.ss-body {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ss-bottom-menu{
    background-color: #653fb3;
}

.ss-logo-set {
    line-height: 109px;
}
.ss-top-logo{
    width: 75px;
}

.ss-logo-set h2 {
    margin-left: 10px;
    display: inline;
    vertical-align: middle;

    color: white;
}

.ss-menu-set {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.ss-menu-set li {
    padding: 0 25px;
    display: inline;
}

.ss-menu-set li,
.ss-menu-set li a {
    line-height: 110px;
    color: white;
}

.ss-bottom-menu {
    padding: 10px 0;
}
.ss-bottom-menu hr{
    height: 1px;
    border: none;
    margin: 0;
    background-color: #8566bc;
}

.ss-bottom-menu .ss-bottom-about{
    margin: 0;
    color: white;
    line-height: 110px;
}

/* nav */
.ss-nav .breadcrumb{
    margin-bottom: 10px;
    padding-left: 0;
    background-color: #fafafa;
}
.ss-nav .breadcrumb-item+.breadcrumb-item::before {
    content: '→';
}
.ss-nav .breadcrumb .breadcrumb-item,
.ss-nav .breadcrumb .breadcrumb-item a {
    color: #ff417f;
    font-size: 14px;
}

/* ss-body */
.ss-article-title {
    margin-bottom: 40px;
}

/* plugin */
.ss-uploader-frame{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
    background-color: rgba(50, 50, 50, 0.5);
}

.ss-uploader-frame .ss-uploader-modal {
    display: block;
    height: 300px;
    width: 400px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
}

@media (max-width: 1100px) {
    .ss-menu-set li{
        padding: 0 10px;
    }
}


/* Responsive breakpoints */
@media (max-width: 800px) {
    .ss-menu-set {
        text-align: center;
    }
    .ss-menu-set li{
        padding: 0 5px;
    }

    .ss-top-menu {
        height: auto;
        text-align: center;
    }
    .ss-bottom-menu .ss-bottom-about{
        text-align: center;
        line-height: 30px;
    }

}